.container {
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0.2rem;
    grid-template-areas: 
        "nav nav nav"
        "sidebar main main"
        "sidebar content1 content1"
        "sidebar content2 content3"
        "sidebar content4 content5"
        "sidebar footer footer"
}


nav {
    background-color: crimson;
    grid-area: nav;
    padding-right: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
}

main {
    background-color: darkgoldenrod;
    grid-area: main;
}

#sidebar {
    background-color: darksalmon;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}


#content1 {
    grid-area: content1;
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    background-position: center;
}

#content2 {
    background-color: aquamarine;
    grid-area: content2;
}

#content3 {
    background-color: bisque;
    grid-area: content3;
}

#content4 {
    background-color: blueviolet;
    grid-area: content4;
}

#content5 {
    background-color: cornflowerblue;
    grid-area: content5;
}

footer {
    background-color: rgb(146, 146, 189);
    grid-area: footer;
}

@media screen and (max-width: 575px) {
    .container {
        grid-template-areas: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav nav"
        "sidebar sidebar"
        "main main"
        "content1 content1"
        "content2 content3"
        "content4 content5"
        "footer footer";
    }
}